---
// src/storyblok/Page.astro
import { storyblokEditable, type SbBlokData } from '@storyblok/astro';
import StoryblokComponent from '@storyblok/astro/StoryblokComponent.astro';

const { blok } = Astro.props;
---
<!-- Allows you to rearrange components inside Storyblok dynamically -->
<div {...storyblokEditable(blok)}>
  {
    blok.body?.map((nestedBlok: SbBlokData) => {
      return <StoryblokComponent blok={nestedBlok} />;
    })
  }
</div>
