---
// src/pages/index.astro
import Layout from '../layouts/Layout.astro';
import NavHeader from '../components/NavHeader.astro';
import Hero from '../components/Hero.astro';
import Approach from '../components/Approach.astro';
---

<Layout>
  <NavHeader />
  
  <main style="max-width: 1200px; margin: 0 auto; display: flex; flex-direction: column;">
    <Hero />
    <Approach />
  </main>
</Layout>
