---
// src/pages/index.astro
import Layout from "../layouts/Layout.astro";
import NavHeader from "../components/NavHeader.astro";
import Hero from "../components/Hero.astro";
import Approach from "../components/Approach.astro";
import Framework from "../components/Framework.astro"; // Fix #2: Imported missing component
import FitCriteria from "../components/FitCriteria.astro";

// New AWS-Inspired Layout Blocks
import AwsHero from "../components/AwsHero.astro";
import AwsFeatures from "../components/AwsFeatures.astro";
import AwsGrid from "../components/AwsGrid.astro";
import AwsFaq from "../components/AwsFaq.astro";

import ContactCTA from "../components/ContactCTA.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="CadenceLab | Enterprise CX Architecture">
  <NavHeader />

  <main class="page-canvas">
    <Hero />
    <Approach />

    <div id="framework">
      <Framework />
    </div>

    <FitCriteria />

    <div class="aws-showcase-wrapper">
      <AwsHero />
      <AwsFeatures />
      <AwsGrid />
      <AwsFaq />
    </div>

    <ContactCTA />
  </main>

  <Footer />
</Layout>

<style>
  /* Fix #1: 'is:global' has been entirely purged to avoid fighting Layout.astro. */
  /* This style block is now safely scoped strictly to this page shell container. */
  .page-canvas {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  /* Optional clean separation container for your new sections */
  .aws-showcase-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
</style>
