---
// src/pages/index.astro
import Layout from '../layouts/Layout.astro';
import SizingGrid from '../components/SizingGrid.astro';
---

<Layout>
  <main style="padding: 40px; max-width: 1200px; margin: 0 auto;">
    <SizingGrid />
  </main>
</Layout>
